---
import { Icon } from "astro-icon/components";

type Props = {
	iconId: string;
	iconName: string;
	detailsId: string;
	detailsRef?: string;
	detailsName: string;
};

const { iconId, iconName, detailsId, detailsRef, detailsName } = Astro.props;
---

<div class="flex items-center">
	<Icon
		id={iconId}
		name={iconName}
		class={"inline-block w-4 h-4 md:w-6 md:h-6 cursor-pointer md:cursor-default"}
	/>

	<div id={detailsId} class="hidden ml-0.5 md:ml-1 md:inline-block">
		<div class="flex !items-center">
			<a
				href={detailsRef}
				target="_blank"
				class={`md:text-sm ${detailsRef && "hover:underline"}`}
				>{detailsName}
			</a>
			{
				detailsRef && (
					<Icon
						name="open-outline"
						class={"inline-block w-2 h-2 ml-0.5 md:w-3 md:h-3 "}
					/>
				)
			}
		</div>
	</div>
</div>
