---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import FTDImg from "../images/ftd-project-img.png";

const heading = "Innovative Solutions: Projects at Bounteous";
const subHeading =
	"A Glimpse into Industry-Level Projects Demonstrating Technical Expertise and Versatility";

const subHeadingCaption = "My Projects in Bounteous";

const intro = [
	" At Bounteous, I have worked on several impactful projects, gaining invaluable experience in developing and managing industry-level applications. Below is a brief overview of these projects, showcasing the diverse range of technologies and solutions implemented.",
];

const projects = [
	{
		name: "Bissell",
		Type: "Mobile App",
		briefInfo:
			"Using React Native, TypeScript, and Redux, this IoT-based mobile application connects and operates home cleaning devices like vacuum cleaners and air purifiers remotely, while also tracking their usage.",
	},

	{
		name: "FTD | Proflowers",
		Type: "Web Application",
		image: FTDImg,
		briefInfo:
			"Built with React, Next.js, and Contentful CMS, this static blog website supports FTD | Proflowers, a flower-selling company, enhancing their online content management and user experience.",
	},

	{
		name: "Kroger ColdFusion Migration",
		Type: "Discovery",
		briefInfo:
			"Involving ColdFusion and SQL, this project focuses on reverse engineering applications written in ColdFusion, significantly improving the understanding of SQL and legacy system migration.",
	},
];

const outro = [
	"These projects illustrate my ability to tackle diverse technical challenges and deliver effective solutions in a professional environment.",
];
---

<div
	class="w-full py-2 border-b border-black md:py-4 lg:w-[64%] lg:mt-4 lg:pr-6 lg:border-r lg:border-black lg:border-b-0"
>
	<p
		class="font-heading-1 text-xl text-justify mb-2 font-semibold md:text-3xl md:mb-4"
	>
		{heading}
	</p>
	<div class="md:columns-2 lg:columns-2">
		<p class="font-sub-heading text-sm my-0 md:mb-2 md:text-lg">
			{subHeading}
		</p>
		<p
			class="font-sub-heading-caption text-xs font-bold border border-x-0 border-y-1 border-black my-2 md:text-sm"
		>
			{subHeadingCaption}
		</p>
		{
			intro?.map((para) => (
				<p class="font-body text-sm text-justify indent-8 leading-tight tracking-tight my-1 md:text-base md:leading-5 md:my-2">
					{para}
				</p>
			))
		}
		{
			projects?.map((project) => (
				<>
					<p class="uppercase font-body text-sm font-bold leading-tight tracking-tight mt-3 md:mt-4  md:text-base md:leading-5 ">
						{project.name}{" "}
						<span class=" text-xs font-other font-light leading-tighter tracking-tight md:text-sm">
							- {project.Type}
						</span>
					</p>
					<p class="font-body text-sm text-justify leading-tight tracking-tight mt-1 md:text-base md:leading-5 md:my-2">
						{project.briefInfo}
					</p>
					{project?.image && (
						<Image
							src={project.image}
							alt={project.name}
							class={" h-[130px] object-cover my-2 border border-black"}
						/>
					)}
				</>
			))
		}
		{
			outro?.map((para) => (
				<p class="font-body text-sm text-justify indent-8 leading-tight tracking-tight my-2 md:text-base md:leading-5 md:my-2">
					{para}
				</p>
			))
		}
	</div>

	<!-- Commenting for now. Once the 2nd page is completed, uncomment -->
	<!-- <p class="text-right">
		<a href="/projects" class="font-other text-xs font-bold hover:underline"
			>for more details <Icon
				name={"arrow-right"}
				class="inline-block w-2 h-2 md:w-4 md:h-4"
			/></a
		>
	</p> -->
</div>
